* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
li,
a,
button,
span {
  color: #edf0f1;
  text-decoration: none;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}
.main-nav .App-logo {
  cursor: pointer;
  height: 50px;
}
.main-nav .signature {
  display: inline-flex;
  text-align: left;
}
.main-nav .signature .my-name {
  padding-left: 10px;
}
.main-nav .signature .my-name span {
  font-family: 'Roboto Mono', monospace;
}
.main-nav .main-nav-links {
  display: flex;
  align-items: center;
}
.main-nav .main-nav-links .nav-links {
  list-style: none;
  counter-reset: nav-links;
  font-size: 0.9rem;
  padding-right: 10px;
}
.main-nav .main-nav-links .nav-links li {
  display: inline-block;
}
.main-nav .main-nav-links .nav-links li a {
  font-family: 'Roboto Mono', monospace;
  transition: all 0.2s ease 0s;
  padding: 20px 25px;
}
.main-nav .main-nav-links .nav-links li a:hover {
  color: #00a2ca;
}
@media only screen and (max-width: 800px) {
  .main-nav .main-nav-links .nav-links li a {
    padding: 20px 15px;
  }
}
.main-nav .main-nav-links .nav-links li ::before {
  content: '0' counter(nav-links) '_';
  counter-increment: nav-links;
  color: #00a2ca;
  font-size: 0.8rem;
  padding-right: 1px;
}
.main-nav .main-nav-links .nav-links .hidden-li {
  display: none;
}
.main-nav .main-nav-links #hidden-icon {
  display: none;
}
@media only screen and (max-width: 700px) {
  .main-nav .main-nav-links #hidden-icon {
    display: block;
  }
}
.main-nav .main-nav-links button {
  padding: 9px 25px;
  background-color: transparent;
  border: 1px solid #00a2ca;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: 'Roboto Mono', monospace;
}
.main-nav .main-nav-links button:hover {
  background-color: #0087a91c;
}
.splitter {
  height: 1px;
  width: 100%;
  background-color: black;
}
.hamburger-links {
  display: none;
}
@media only screen and (max-width: 700px) {
  .main-nav .nav-links {
    display: none;
  }
  .main-nav #nav-contact {
    display: none;
  }
  .main-nav .nav-burger {
    height: 30px;
    padding-left: 10px;
  }
  .main-nav .nav-burger:hover {
    cursor: pointer;
  }
  #display-hamburger-links {
    display: block;
  }
  .hamburger-links {
    padding-bottom: 20px;
    counter-reset: nav-hamburger;
  }
  .hamburger-links li {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
  }
  .hamburger-links li a {
    font-family: 'Roboto Mono', monospace;
  }
  .hamburger-links li ::before {
    content: '0' counter(nav-hamburger) '_';
    counter-increment: nav-hamburger;
    color: #00a2ca;
    font-size: 0.8rem;
    padding-right: 1px;
  }
}
